html,
body {
  background: linear-gradient(90deg, #c99eff, #8dd3f2);
  /* background: #c99eff; */
  font-family: 'Gabriela', serif !important;
  font-size: 16px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  margin: 0px auto;
  max-width: 1000px;
}

.logo {
  height: 50px;
}

.app-link {
  color: #000000;
}

.font-gabriola {
  font-family: 'Gabriela', serif;
}

.app-link {
  text-decoration: none;
}

.app-link,
.navbar-light .navbar-nav .nav-link {
  color: #000000;
}

.app-link:hover,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff !important;
}

ul.general-list {
  display: grid;
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: "▹";
}

ul.skills-list {
  grid-template-columns: repeat(2, minmax(140px, 200px));
}

ul.general-list {
  list-style: none;
}

ul.general-list li::before {
  content: "▹ ";
}

img.headshot {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  max-width: 300px;
}

img.headshot:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.hide-on-mobile {
  display: none !important
}

.hide-on-desktop {
  display: block !important
}

.experience-wrapper .nav-link {
  color: rgba(255, 255, 255, 0.5) !important;
}

.experience-wrapper .nav-link.active {
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.2) !important;
  color: #000000 !important;
}

@media (min-width: 376px) {
  
}

@media (min-width: 768px) {
  .intro-wrapper h1,
  .intro-wrapper h2 {
    font-size: 50px;
  }
  .intro-container {
    padding-bottom: 150px !important;
  }
  .intro-container .col-md-8 {
    width: auto;
  }
  .hide-on-mobile {
    display: block !important
  }
  .hide-on-desktop {
    display: none !important
  }
}

@media (min-width: 1200px) {
  .intro-container {
    padding-top: 50px !important;
    padding-left: 100px !important;
  }
  .intro-container .col-lg-6 {
    width: 66.66666667%;
  }
  .about-wrapper {
    padding-top: 4rem;
  }
}

@media (min-width: 1400px) {
  .intro-container {
    padding-top: 100px !important;
  }
  .intro-container .col-lg-6 {
    width: 50%;
  }
}
